# ===============================

# DATASETS

# ===============================

/dataset/
/preprocessing/assets/
/data/
/config/*.py
/cache/
/figures/
# ===============================

# MODEL WEIGHTS / CHECKPOINTS

# ===============================

runs/
models/
weights/
*.pth
*.pt
*.ckpt
*.zip

# ===============================

# PYTHON CACHE

# ===============================

**pycache**/
*.pyc
*.pyo
*.pyd
*.so

# ===============================

# JUPYTER NOTEBOOK

# ===============================

.ipynb_checkpoints/

# ===============================

# PYCHARM

# ===============================

.idea/
*.iml
out/

# ===============================

# ENVIRONMENTS

# ===============================

.venv/
venv/
env/
ENV/

# Conda environment folders (if accidentally created)

conda-env/

# ===============================

# LOGS

# ===============================

logs/
*.log

# ===============================

# SYSTEM FILES

# ===============================

.DS_Store
Thumbs.db

# ===============================

# MISC TEMP FILES

# ===============================

*.tmp
*.swp
*.swo
*~

tt.py
